    .grid-container {
        display: grid;
        grid-template-columns:20% 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas: 
        "menu header header header"
        "menu main main right"
        "menu footer footer footer";
        grid-gap: 10px;
        background-color: #2196F3;
        height: 200vh;
        text-align: center;
        padding: 20px 10px;
        font-size: 30px;
    } 
    
    .item1{
        grid-area:header;
        background: #ee44ad;
          }
    .item2 { 
        grid-area: menu; 
        background: #3ac47d;
 }
    .item3 { 
        grid-area: main;
        background: #efb778;

    }
    .item4 { 
        grid-area: right;
        background: #90dff3;
    }
    .item5 {
        grid-area: footer;
        background: #959aed;
        }